@model IEnumerable<Day32.Models.ForecastViewModel>

@{
    ViewData["Title"] = "Forcasts";
}

<h1>Forcasts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forecast)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forecast)
            </td>
        </tr>
}
    </tbody>
</table>
